@{ ViewData["Title"] = "Success";
}
<h1>You create a new guinea pig successfully!</h1>
<div>
    <a asp-action="Create"> Create new Guinea Pig</a>
</div>
<div>
    <a asp-action="All"> List all Guiane Pigs</a>
</div>